@defer (on viewport) {
  <div class="w-full flex justify-center items-center min-h-screen my-20 animation1">
    <div class="w-4/5 h-4/5 rounded-xl border border-gray-500 box-border p-5 flex">
      
      <div class="w-1/2 flex flex-col gap-2">
        @for (item of arr(); track item.id) {
          <div
            class="w-4/5 border border-gray-400 p-3 rounded-xl flex gap-2 bg-gray-100 cursor-pointer"
            (click)="setActive(item.id)"
          >
            <mat-icon fontIcon="home"></mat-icon>

            <div class="flex flex-col gap-1 p-1">
              <h4 class="text-xl font-bold">{{ item.title }}</h4>

              @if (item.active) {
                <p class="text-gray-400">{{ item.text }}</p>
                <a href="#" class="text-sm text-blue-500">this is here &gt;</a>
              }
            </div>
          </div>
        }
      </div>

      <div class="w-3/5 overflow-hidden flex justify-center items-center">
        <img [src]="img()" class="w-full h-full object-cover" />
      </div>

    </div>
  </div>
} @placeholder {
  <div class="min-h-screen"></div>
}
